<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906162440207-5v7mhtska5g1flt8ml3sajem2ithepfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906162440207-5v7mhtska5g1flt8ml3sajem2ithepfk</string>
	<key>API_KEY</key>
	<string>AIzaSyAi7J26Tc0a-acMYZhxCQmlrSXiAsJg8F8</string>
	<key>GCM_SENDER_ID</key>
	<string>906162440207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easyfrca.sussexfrca</string>
	<key>PROJECT_ID</key>
	<string>finalfrca-93250</string>
	<key>STORAGE_BUCKET</key>
	<string>finalfrca-93250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:906162440207:ios:28b269ed2d961536067b7a</string>
</dict>
</plist>
